body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #191a19;
  font-family: 'Poppins', sans-serif;
}


.fa-trash-can:hover {
	transition: 0.5 ease;
	color: red;
}
.fa-check:hover {
	transition: 0.5 ease;
	color: greenyellow;
}
.todo_list {

 border-radius: 10px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
